// Global default params, used in configs
/* Locations of external programs (rest available via modules) */

params {
  reads = "/projects/oarc/NF-Seq/SampleData/chrX_data/samples/*_{1,2}.fastq.gz"
  SingleEnd=false
  outdir = "${PWD}/results"
  genome = "/projects/oarc/NF-Seq/SampleData/chrX_data/genome/chrX.fa"
  gtf = "/projects/oarc/NF-Seq/SampleData/chrX_data/genes/chrX.gtf"
  task_cpus = 1
  bismark_index = "/projects/oarc/NF-Seq/SampleData/chrX_data/BismarkIndex"
  do_trimgalore = false
  do_bbduk = false
  do_fastp = true 
}
